extends layout

block content
  a(href="/")
    h1= title
  .form-group
    form(name="submit-file", method="post", enctype="multipart/form-data")
      .input
        label.col-md-2.control-label ファイル
        input#file(name="file", type="file")
      .action
        input(type="submit", value="変換")
  textarea#result= txt
